<h1>Eat-Da-Burger!</h1>
<img src="../public/assets/img/royale-with-cheese.png"/>

<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>
<button type="submit">Add Burger</button>
<h3>Enter a burger you want to eat Click submit</h3>


  
</form>

<div id="chickin">
<h2>Wating list</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

</div>